.about-service {
  padding-top: 33px;
  padding-bottom: 82px;
  background-color: $special_dark_blue;
  background-image: url(../img/about-mobile.png);
  background-repeat: no-repeat;
  background-position-x: center;

  @include tablet{
    font-size: 28px;
    line-height: 33px;
  }
  outline: 2px solid pink;
  outline-offset: -2px;

}
.about-service-grid{
  @include tablet{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about-service__title{
  padding: 0;
  padding-top: 33px;
  margin-bottom: 19px;
  @include tablet{
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.about-service__description {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 19px;
  @include tablet{
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.about-service__appeal {
  padding: 0;
  margin: 0;
  // margin-bottom: 82px;
  font-weight: bold;
  @include tablet{
    font-size: 21px;
    line-height: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.about-service--button{
  @include tablet{
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
