.about-service {
  padding-top: 33px;
  padding-bottom: 82px;
  background-color: $special_dark_blue;
  background-image: url(../img/about-mobile.png);
  background-repeat: no-repeat;
  background-position-x: center;


  outline: 2px solid pink;
  outline-offset: -2px;

}
.about-service__title{
  padding: 0;
  padding-top: 33px;
  margin-bottom: 19px;
}
.about-service__description {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.about-service__appeal {
  padding: 0;
  margin: 0;
  // margin-bottom: 82px;
  font-weight: bold;
}
