.authorization {
  display: flex;
  outline: 2px solid lightgreen;
  outline-offset: -2px;
}

.authorization__phone,
.authorization__mail {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorization__phone {
  background-color: $special_orange;
}
.authorization__mail {
  background-color: $special_yellow_dark;
}

.authorization__login {
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
  align-self: center;
  // text-decoration: none;
  border-radius: 25px 25px 25px 25px;
  @include tablet{
    display: block;
  }
}
.authorization--header .authorization__login{
  display: block;
  margin-bottom: 60px;
  // padding-top: 12px;
  // padding-bottom: 8px;
}
.authorization--header .authorization__phone,
.authorization--header .authorization__mail{
  display: none;
}
