.authorization {}

.authorization--header {}

.authorization__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.authorization__mail {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.authorization__login {
  padding-top: 12px;
  padding-bottom: 8px;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  // text-decoration: none;
  border-radius: 25px 25px 25px 25px;
}
