.button {
  text-decoration: none;
  color: $basic_blue_light;
  background-color: $basic_yellow;
}

.button-arrow {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 10px;
}

.show-business-tariff {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $special_blue;
}

.toogle {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  width: 25px;
  height: 11px;
  font-size: 0;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid brown;
}

.toogle::before,
.toogle::after {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 3px;
  background-color: $white;
  content: "";
}

.toogle::after {
  top: 100%;
  transform: translateY(-3px);
}
