.button{
  text-decoration: none;
  color: $basic_blue_light;
  background-color: $basic_yellow;
}
.button-arrow{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 10px;
}
.show-business-tariff{
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $special_blue;
}
