.contacts {}

.contacts__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic_blue_dark;

  // outline: 2px solid red;
  // outline-offset: -2px;
}
.contacts__icon svg{
  fill: $basic_yellow;
}
.phone,
.mail {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special_dark_blue;
  &-reg{
    color: $basic_yellow;
  }
}
// .phone-reg,
// .mail-reg{
//     color: $basic_yellow;
// }
.registration__phone,
.registration__mail {
  color: $basic_yellow;
}
