.contacts {}

.contacts__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic_blue_dark;

  outline: 2px solid red;
  outline-offset: -2px;
}
.contacts__icon svg{
  fill: $basic_yellow;
}
.phone,
.mail {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special_dark_blue;
}

.registration__phone,
.registration__mail {
  color: $basic_yellow;
}
