.destination {
  outline: 2px solid green;
  outline-offset: -2px;

  padding-top: 71px;
  background-color: $gray_light;
}
.destination__grid{
  @include desktop{
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
  }
}
.destination__description {
  margin: 0;
  margin-top: 19px;
  padding: 0;
  color: $special_grey;
}

.destination__list-country {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  list-style: none;

  @include desktop{
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.destination__img{
  width: 270px;
  height: 110px;
  // &--tailand{

  // }
}
.destination__country {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $black;
}

.destination__country-description {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $special_grey;
  opacity: 0.3;
}

.destination__user-count {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $basic_blue;
  opacity: 0.3;
}
