.form{
  color: $basic_blue_light;
}
.form__destination-title{
  position: relative;
  z-index: 40;
  margin: 0;
  padding: 0 0 12px 0;
  background-color: $special_dark_blue2;
}
.foto--form{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

