.main-nav {
  margin: 0;
}

.main-nav__list {
  margin: 0;
  margin-top: 75px;
  padding: 0;
  list-style: none;

}

.main-nav__item {
  // display: flex;
  // justify-content: center;
}

.main-nav__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: $special_dark_blue;
  text-align: center;
}



// .main-nav__toogle::after {
//   bottom: -20px;
// }
