.my-plans{
  background-color: $special_blue_light;
  padding-top: 28px;
  padding-bottom: 60px;
  @include shift-section;
  position: relative;
  z-index: 20;
}
.my-plans__list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.my-plans__item{
  background-color: $white;
  border-radius: 10px;
  padding: 24px 0 23px 24px;
  margin-bottom: 10px;
}
.my-plans__county{
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.my-plans__count-people,
.my-plans__date{
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.my-plans__change{
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  background: none;
  color: $black;
  opacity: 0.3;
}
