.page-header {
  // outline: 2px solid pink;
  // outline-offset: -2px;

  position: relative;
  margin: 0;
  background-color: $basic_blue;
}
.page-header-head{
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.page-header__grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-header__mobile-menu{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: $white;
  padding-bottom: 40px;
}
.page-header__contacts{
  margin-bottom: 50px;
}
