.page-header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $basic_blue;
  @include tablet-only{
    background-color: $special_dark_blue2;
  }
  &--open-menu{
    background-color: $white;
  }

  &--light{
    background-color: $special_dark_blue2;
  }
  &--scroll{
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
.menu{
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop{
    padding-top: 47px;

  }
}
.page-header--scroll{
  .menu{
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.menu--close{
  .main-nav,
  .authorization--header,
  .authorization__phone,
  .authorization__login,
  .authorization__mail,
  .contacts,
  .social{
    display: none;
  }
  @include tablet{
    .authorization--header,
    .authorization__login{
      display: flex;
    }
  }
  @include desktop{
    .authorization__phone,
    .authorization__mail{
      display: flex;
    }
    .main-nav{
      display: block;
    }
    .toogle{
      display: none;
    }
  }
}
.menu--open{
  position: relative;
  background-color: $white;
  display: block;

  .authorization__phone,
  .authorization__mail{
    display: none;
  }

  .main-nav,
  .contacts
  {
    display: block;
  }
  .authorization--header .authorization__login,
  .social{
    display: flex;
  }
}
.page-header__contacts{
  margin-top: 50px;
  margin-bottom: 40px;
}
.page-header--catalog{
  background-color: $special_dark_blue2;
}
