.page-header {
  outline: 2px solid pink;
  outline-offset: -2px;

  margin: 0;
  background-color: $basic_blue;
}
.page-header__grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
