.profile {
  background-color: $basic_blue_lightest;
  padding-top: 60px;
  padding-bottom: 40px + 24px;

  @include shift-section;
  position: relative;

  // z-index: 10;
  @include desktop {
    padding-top: 113px;
  }
}

.profile__grid {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 2fr 1fr;
  }

  @include desktop {
    grid-template-rows: auto;
    grid-template-columns: 60% 40%;
    position: relative;
  }
}

.level--form {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  @include desktop {
    position: absolute;
    top: -220px;
    left: 980px;
    z-index: 50;

    .level__number {
      color: $white;
    }

    .level__word {
      color: $white;
    }
  }
}

.foto--form {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  @include tablet {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    border-radius: 7px;
  }

  @include desktop {
    grid-column-start: 2;
    grid-column-end: 3;

    width: 190px;
    height: 190px;

    position: absolute;
    z-index: 50;
    top: -263px;
    right: 0;
    border-radius: 10px 10px 0 0;
  }
}

.change-foto {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
}

.tags-form {
  padding: 0;
  margin: 0;
  position: relative;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: -1;
  border: 1px solid $gray_legend;
  border-radius: 10px;
  margin-bottom: 25px;

  @include desktop {
    height: 105px;
  }

  legend {

    padding: 0 20px;
    margin: 0 auto;
    // margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $basic_blue_light;
    background-color: $basic_blue_lightest;

    @include tablet {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include desktop {
      left: 60px;
      // height: 105px;
    }
  }

  .user-tags {
    padding: 26px 0 26px 25px;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    height: 100%;
    color: $special_grey;
    opacity: 0.6;

    @include tablet {
      padding: 35px 0 10px 40px;
      font-size: 20px;
      line-height: 22px;
    }

    @include desktop {
      // width: 732px;
    }
  }

  @include desktop {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &:hover {
    border-color: #AEB4CB;
    // border-color: seagreen;
  }

  &:active {
    border-color: $basic_blue;

    // background-color: salmon;
    .user-tags {
      //

      &:active {
        color: $special_grey;
        opacity: 1;
      }

      &:focus {
        //  color: $special_grey;
        opacity: 1;
      }
    }
  }

  // &:focus{
  //   background-color: salmon;
  // }
}

.select-transport-form {
  padding: 0;
  margin: 0;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: -1;

  border: 1px solid $gray_legend;
  border-radius: 10px;

  legend {
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $basic_blue_light;
    background-color: $basic_blue_lightest;
    padding: 0 14px;
  }

  @include tablet {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;

    legend {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 14px;
    }
  }

  @include desktop {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 384px;
    height: 105px;
    display: flex;
    align-items: center;
    // align-self: end;
    justify-self: end;
  }
}

.change-foto {
  font-family: "Blogger Sans";
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_blue;
  background-color: $special_blue_light;
  margin: 18px 0 33px 0;
  padding: 12px 0;
  border: none;
  border-radius: 20px;

  @include tablet {
    border-radius: 10px;
    padding: 20px 0;
  }

  @include desktop {
    .change-foto__word {
      display: none;
    }

    margin: 0;
    padding: 16px 0 12px 0;
    position: absolute;
    right: 0;
    top: -73px;
    width: 190px;
    border-radius: 0 0 20px 20px;
  }

  &:hover {
    background-color: $basic_blue_2;
  }

  &:active {
    opacity: 0.3;
  }
}
