.promo {
  outline: 2px solid red;
  outline-offset: -2px;
  background-color: $special_dark_blue;
}

.promo__slogan {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.promo__blockquote {
  // font-size: 40px;
}

.promo__blockquote {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  p {
    font-weight: 300;
  }

  cite {
    font-weight: bold;
  }
}

.instructions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instructions__description {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic_blue;
  background-color: $basic_yellow;
}
