.social {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  outline: 2px solid green;
  outline-offset: -2px;
}

.page-header__social {}

.social__link--page-header {}

.page-footer__social {}

.social__link--page-footer {
  background-color: $basic_yellow;
}

.social__link--facebook{

}
